@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  background-color: rgb(24, 24, 24);
  font-family: "Quicksand";
  margin: 0;
}

/* NAVBAR */
#brewdog-logo {
  background-image: url("./images/brewdog-logo-with-title.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70px;
  width: 270px;
  margin-right: 20px;
}

.navbar {
  padding: 25px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  background-color: rgb(12, 12, 12);
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar .links {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: auto;
  padding-right: 20px;
  padding-bottom: 10px;
}

#search-bar {
  display: flex;
  position: absolute;
  top: 0;
  right: 50px;
}

.search-btn {
  height: 20px;
  width: 20px;
  color: white;
  background-color: white;
}

.navbar a {
  padding-right: 40px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: #1962a1;
}

/* BEER LIST */
.beer-list {
  padding-top: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.beer-list a {
  text-decoration: none;
  color: black;
}

.beer:hover {
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.463);
  transition: 0.3s;
}

.beer {
  width: 400px;
  height: 200px;
  position: relative;
  display: grid;
  background-color: rgb(255, 255, 255);
  grid-template-columns: 1fr 2fr;
  gap: 5%;
  margin: 10px;
  border-radius: 7px;
}

.beer h2 {
  text-align: left;
}

.img-holder {
  position: absolute;
  height: 100%;
  width: 150px;
  background-color: #1962a1;
  border-radius: 7px 0px 0px 7px;
}

.info {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.beer-image {
  height: 11rem;
  display: flex;
  margin: 10px auto;
}

.btn-holder {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.btn-holder button:hover {
  background-color: #1962a1;
  color: #fff;
  border: 0;
  transition: 0.3s;
}

.btn-holder button {
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(136, 136, 136);
  margin: 0px 0px 0px 5px;
}
.btn-holder .tasted,
.btn-holder .brewed {
  background-color: #1962a1;
  color: white;
}

/* BEER DETAILS */
.beer-details {
  margin: 0 auto;
  width: 80%;
}

.beer-detail {
  padding-top: 140px;
  display: flex;
}

.detail-ingredient-holder {
  flex-grow: 1;
  padding: 10px;
  background-color: #1962a1;
  border-radius: 7px 0px 0px 7px;
}

td {
  font-size: 15px;
}

.beer-first-brewed-date {
  margin-top: 10px;
  text-align: center;
}

.detail-ingredient-holder h3 {
  margin: 0;
}

.beer-ingredients h4,
li {
  margin: 0;
}

.beer-target-gravity {
  margin: 10px;
  text-align: center;
}

.detail-info {
  padding: 10px;
  flex-grow: 3;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 0 7px;
}
/* PAGINATOR */
.prev,
.next {
  display: flex;
  position: fixed;
  margin: auto 0;
  width: 7%;
  top: 100px;
  height: 100%;
}

.next:hover {
  background-image: linear-gradient(to left, #00000082, rgba(255, 255, 255, 0));
  border: 0;
  transition: 0.3s;
}

.prev:hover {
  background-image: linear-gradient(
    to right,
    #00000082,
    rgba(255, 255, 255, 0)
  );
  border: 0;
  transition: 0.3s;
}

.prev {
  cursor: pointer;
  left: 0;
  background-image: linear-gradient(
    to right,
    #00000060,
    rgba(255, 255, 255, 0)
  );
}

.next {
  cursor: pointer;
  right: 0;
  background-image: linear-gradient(to left, #00000060, rgba(255, 255, 255, 0));
}
